<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhs.hfnavigator"
    android:versionCode="27"
    android:versionName="Beta Build 2.7" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.hhs.hfnavigator.core.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/harbingerfrontlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        
      
    <activity
            android:name="com.hhs.hfnavigator.core.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="com.hhs.hfnavigator.links.Cont"
            android:label="Chemistry Links" />
        <activity
            android:name="com.hhs.hfnavigator.links.Ritter"
            android:label="Art Links" />
        <activity
            android:name="com.hhs.hfnavigator.links.Khan"
            android:label="Science Links" />
        <activity
            android:name="com.hhs.hfnavigator.teacherdirectory.TeacherList"
            android:label="Teacher Directory" />
        <activity
            android:name="com.hhs.hfnavigator.teacherdirectory.TeacherDetails"
            android:label="Teacher Details"/>
            

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        
  
        
    </application>

</manifest>